@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/*Variables*/
:root {

    /*Colros*/
    --clr-light : #f8fafc;
    --clr-dark : #020617;

    --clr-slate-100 : #f1f5f9;
    --clr-slate-200 : #e2e8f0;
    --clr-slate-300 : #cbd5e1;
    --clr-slate-400 : #cbd5e1;
    --clr-slate-500 : #64748b;
    --clr-slate-600 : #475569;
    --clr-slate-700 : #334155;
    --clr-slate-800 : #1e293b;
    --clr-slate-900 : #0f172a;


    --clr-blue-50 : #eff6ff;
    --clr-blue-100 : #dbeafe;
    --clr-blue-200 : #bfdbfe;
    --clr-blue-300 : #93c5fd;
    --clr-blue-400 : #60a5fa;
    --clr-blue-500 : #3b82f6;
    --clr-blue-600 : #2563eb;
    --clr-blue-700 : #1d4ed8;
    --clr-blue-800 : #1e40af;
    --clr-blue-900 : #1e3a8a;
    --clr-blue-950 : #172554;

    --clr-emerald-500 : #10b981;
    --clr-emerald-600 : #059669;
    --clr-emerald-700 : #047857;

    --clr-yellow-400 : #facc15;
    --clr-yellow-500 : #eab308;
    --clr-yellow-600 : #ca8a04;

    --clr-rose-400 : #fb7185;
    --clr-rose-500 : #f43f5e;
    --clr-rose-600 : #e11d48;
    --clr-rose-700 : #be123c;
    --clr-rose-800 : #9f1239;
    --clr-rose-900 : #881337;

    --clr-indigo-400 : #818cf8;
    --clr-indigo-500 : #6366f1;
    --clr-indigo-600 : #4f46e5;
    --clr-indigo-700 : #4338ca;

    --clr-border : #64748b4d;
    

    /*Sizes*/
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    text-decoration: none;
}



body {
    background-color: var(--clr-slate-800);
    overflow-x: hidden;
}

body.light {
    --clr-slate-100 : hsl(214, 25%, 20%);
    --clr-slate-400 : hsl(213, 20%, 40%);
    --clr-slate-800 : hsl(217, 25%, 85%);
    --clr-slate-900 : hsl(222, 20%, 92%);
}

body.light .selected {
    color: var(--clr-slate-900);
}

body.light .sidebar-link:hover {
    background-color: var(--clr-blue-700);
    color: var(--clr-slate-900);
}

body.light .project-top i {
    color: var(--clr-slate-900);
}
body.light  .arrow{
    color: var(--clr-slate-900);
}

body.light .btn-icon {

    background-color: var(--clr-slate-900);
    color: var(--clr-slate-400);

}

body.light .btn-icon:hover {
    background-color: var(--clr-blue-600);
    color: var(--clr-slate-900);
}

body.light .blue-text {
    background-color: var(--clr-blue-200);
    color: var(--clr-blue-500);

}

body.light .upgrade .btn {
    color: var(--clr-blue-100);

}

.container {
    width: 100%;
    height: 100vh;
}

.title {
    color: var(--clr-slate-100);
    font-weight: 600;
}

.description {
    color: var(--clr-slate-500);
    font-size: 0.8rem;
}

.sidebar-contaier {
    position: relative;
}

button , input {
    border: none;
    outline: none;
}

.btn {
    cursor: pointer;
    border: none;
    padding: 0.5rem 1.3rem;
    background-color: var(--clr-blue-600);
    color: var(--clr-slate-100);
    border-radius: 1rem;
    font-weight: 500;
    font-size: 0.8rem;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--clr-blue-700);
}

.sidebar {
    position: fixed;
    left: 0;
    background-color: var(--clr-slate-900);
    width: 91px;
    padding: 1.5rem;
    height: 100%;
    transition: all 0.3s ease;
    z-index: 100;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.logo {
    padding-left: 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--clr-blue-600);

}

.logo span {
    opacity: 0;
    user-select: none;
    text-wrap: nowrap;
    pointer-events: none;
    transition: all 0.3s ease;

}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.sidebar-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    color: var(--clr-slate-400);
    font-weight: 500;
    padding: 0.7rem 0.8rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.small-text {
    color: var(--clr-slate-400);
    font-size: 1rem;
    font-weight: 500; 
}

.sidebar-link.selected {
    background-color: var(--clr-blue-700);
    color: var(--clr-slate-100);
}

.sidebar-link:hover {
    background-color: var(--clr-blue-700);
}

.sidebar-link.red:hover {
    color: var(--clr-slate-100);
}

.sidebar-link i {
    font-size: 1.1rem;
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    cursor: pointer;
    font-size: 1.1rem;
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-slate-400);
}

.arrow {
    width: 25px;
    height: 25px;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--clr-slate-400);
    position: absolute;
    right: calc(-1.5rem - 12px);
    background-color: var(--clr-blue-600);
    transition: all 0.3s ease;
}

.arrow:hover {
    background-color: var(--clr-blue-700);
}

.sidebar-link span {
    font-size: 0.9rem;
    white-space: nowrap;
    opacity: 0;
    user-select: none;
}

.upgrade {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    background-color: var(--clr-slate-800);
    width: max-content;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
}

.upgrade button {
    width: 100%;
}

.upgrade-container {
    margin-top: 2rem;
    opacity: 0;
    white-space: nowrap;
    width: 100%;
    display: flex;
    visibility: hidden;
    transition: all 0.2s ease;
    justify-content: center;
}



.red {
    color: var(--clr-rose-500);
}

.sidebar.active {
    width: 280px;
}

.sidebar.active .arrow {
    transform: rotate(-180deg);
}

.sidebar.active .sidebar-link span {
    opacity: 1;
}

.sidebar.active .upgrade-container {
    opacity: 1;
    visibility: visible;


}

.sidebar.active .logo span {
    opacity: 1;
}

main {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: calc(91px + 2.5rem);
    padding-right: 1.5rem;
}

.main-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-top-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-top-right .user {
    cursor: pointer;
}

.main-top-right .user img {
    width: 40px;
    object-fit: cover;
    border-radius: 100rem;
    height: 40px;
}

.input-box {
    position: relative;
    width: 300px;
    height: 40px;
    background-color: var(--clr-slate-900);
    border-radius: 0.5rem;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 2.5rem;
    font-weight: 500;
    color: var(--clr-slate-400);
    caret-color: var(--clr-slate-400);
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.6rem;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--clr-slate-900);
    color: var(--clr-slate-400);
    width: 35px;
    height: 35px;
    padding: 1.2rem;
    border-radius: 100rem;
    transition: all 0.3s ease;
}

.btn-icon:hover {
    background-color: var(--clr-blue-600);
    color: var(--clr-slate-100);
}



.project-top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.project-icon {
    color: var(--clr-slate-400);
    font-size: 1.2rem;
    background-color: var(--clr-blue-600);
    border-radius: 0.4rem;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
}

.project-count {
    margin-top: 0.5rem;
}

.projects-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.project {
    cursor: pointer;
    width: 33%;
    background-color: var(--clr-slate-900);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding: 1rem 1.2rem; 
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.project:hover {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);

}

.charts-container {
    margin-top: 2rem;
    background-color: var(--clr-slate-900);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.charts-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);

}

.section-top {
    top: 0;
    position: sticky;
    background-color: var(--clr-slate-900);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--clr-slate-800);
    padding-bottom: 1rem;
}

.transactions-container .section-top {
    top: 0;
    position: sticky;
    background-color: var(--clr-slate-900);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--clr-slate-800);
    padding: 1rem;
}


.btn-outline {
    cursor: pointer;
    color: var(--clr-slate-400);
    border: 1px solid var(--clr-slate-400);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}
.btn-outline:hover {
    background-color: var(--clr-slate-400);
    color: var(--clr-slate-900);
}

.charts {
    margin-top: 2rem;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}



.bar {
    width: 20px;
    height: 30%;
    border-radius: 0.3rem;
    background-color: var(--clr-blue-600);
}

.ts-container {
    margin-top: 1rem;
}


.main-container {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}




.transactions-container {
    position: relative;
    margin-top: 2rem;
    background-color: var(--clr-slate-900);
    padding: 0 0.5rem;
    border-radius: 1rem;
    height: 400px;
    overflow-y: auto;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.transactions-container:hover {
    box-shadow: 0 0 0px rgba(0,0,0,0);

}

.transactions-container::-webkit-scrollbar {
    display: none;
}



#b1 {
    height: 45%;
}
#b2 {
    height: 30%;
}
#b3 {
    height: 75%;
}
#b4 {
    height: 30%;
}
#b5 {
    height: 55%;
}
#b6 {
    height: 65%;
}
#b7 {
    height: 25%;
}
#b8 {
    height: 80%;
}
#b9 {
    height: 70%;
}
#b10 {
    height: 30%;
}
#b11 {
    height: 50%;
}



.user-list .user img {
    width: 40px;
    object-fit: cover;
    border-radius: 100rem;
    height: 40px;
}

.thin {
    font-weight: 300;
    font-size: 0.9rem;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.user-list .user {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.date-list .info {
    margin-top: 0;
}

.transaction-col {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 33%;
}

.ts-top {
    justify-content: space-around;
    margin-top: 1rem;
}

.transaction-row {
    width: 100%;
    gap: 2rem;
    display: flex;
}




.main-left {
    width: 70%;
}


.main-right {
    width: 30%;
}

.main-right-container {
    margin-top: 2rem;
    height: 100vh;
    /* padding-right: calc(91px + 2.5rem); */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.blue-text {
    background-color: var(--clr-blue-900);
    color: var(--clr-blue-500);
    font-size: 0.9rem;
    padding: 0.4rem 0.7rem;
    border-radius: 100rem;
}

.card {
    width: 100%;
    border-radius: 1rem;
    background-color: var(--clr-slate-900);
}

.team-card {
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 1rem;
    padding: 1rem 1.2rem;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 1rem;
    transition: all 0.3s ease;

}

.status-list , .date-list{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    padding-left: 0.5rem;
}


.team-card:hover {
    box-shadow: 0 0 0px rgba(0,0,0,0);

}

.team-info {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.date {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    font-size: 0.8rem;
}

.date .small-text {
    font-size: 0.8rem;
}

.info {
    cursor: pointer;
    background-color: var(--clr-slate-800);
    font-size: 0.8rem;
    padding: 0.4rem 0.7rem;
    border-radius: 100rem;
    color: var(--clr-slate-400);
    margin-top: 1rem;
}

.card p {
    max-width: 80%;

}

.date {
    text-wrap: nowrap;
}

@media (max-width : 1300px)
{
    .projects-container {
        flex-wrap: wrap;
    }
    .project {
        width: 48%;
    }
}

@media (max-width : 1050px)
{
    .main-container {
        flex-wrap: wrap;
    }
    .main-left {
        width: 100%;
    }

    .main-right {
        width: 100%;
    }
}

@media (max-width : 800px)
{
    .input-box {
        display: none;
    }

    .small-text {
        font-size: 0.9rem;
    }

    .description {
        font-size: 0.7rem;
    }

    .project {
        width: 100%;
    }

    .bar {
        width: 15px;
    }

    .charts {
        gap: 0.3rem;
    }

    .btn-outline {
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
    }
}

@media (max-width : 650px)
{
    .projects-container {
        gap: 1.5rem;
    }

    .charts-container {
        padding: 0.8rem 1rem;
    }

    

    .bar {
        width: 10px;
    }

    .base-container {
        scrollbar-width: thin;
        overflow-x: auto;
        
    }

    .base-container::-webkit-scrollbar {
    }


    .status-list, .date-list {
        display: flex;
        flex-direction: column;
        gap: 2.2rem;
        padding-right: 4rem;
    }
    

}

@media (max-width : 568px)
{
    main {
    padding-left: calc(91px + 0.5rem);

    }
    .main-top-right {
        gap: 0.5rem;
    }

    .notif-btn {
        display: none;
    }

    .charts {
        overflow-x: auto;
    }

    .sidebar {
        position: fixed;
        left: 0;
        background-color: var(--clr-slate-900);
        width: 70px;
        padding: 1.5rem 1rem 1rem;
        height: 100%;
        transition: all 0.3s ease;
        z-index: 100;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

    .sidebar-link {
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.7rem;
        color: var(--clr-slate-400);
        font-weight: 500;
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        transition: all 0.3s ease;
    }

    .sidebar-link i {
        font-size: 1.1rem;
        width: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main-top-left .title {
        font-size: 1.2rem;
    }

    
    .arrow {
    width: 25px;
    height: 25px;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--clr-slate-400);
    position: absolute;
    right: calc(-1rem - 12px);
    background-color: var(--clr-blue-600);
    transition: all 0.3s ease;
}

.logo {
    padding-left: 0.5rem;
}

}